lesion_images/*
lesionFileNotes.txt
*.DS_Store
*.swp
*.h5
.ipynb_checkpoints
**/*.ipynb_checkpoints/
*/.ipynb_checkpoints/*
*/.ipynb_checkpoints/*.ipynb
*.swo
data/*
data_csvs/*
dataset/*
*.pth
*.pt
runs/*
**/__pycache__/*
lesion_dataset_sample_output.py
